.gd-collapse {
  border-top: 1px solid #ebeef5;
  border-bottom: 1px solid #ebeef5;
  &-item {
    border-bottom: 1px solid #ebeef5;
    &_header {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 48px;
      line-height: 48px;
      background-color: #fff;
      color: #303133;
      cursor: pointer;
      justify-content: space-between;
      padding-right: 10px;
      &.is-active {
        border-bottom: 1px solid #ebeef5;
      }
    }
    &_wrap {
      will-change: height;
    }
    &_content {
      padding: 25px 0;
    }
  }
  .fade-enter-active {
    transition: opacity 0.5s;
  }
  .fade-leave-active {
    transition: opacity 0;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
  .gd-icon_updown {
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: #b0b0b0;
    &.is-active {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}
