.gd-tree {
  ul {
    margin-left: 15px;
    padding-left: 0;
  }
  &-node {
    &_content {
      position: relative;
      cursor: pointer;
      .gd-icon_updown {
        position: absolute;
        left: -12px;
        top: 6px;
        &.is-active {
          top: 1px;
        }
      }
    }
    &_label {
    }
  }
}
.gd-eleTree {
  .el-tree {
    .el-tree-node {
      width: 500px;
    }
    .el-tree-node__content {
      display: flex;
      align-items: center;
      height: 34px;
      cursor: pointer;
    }
    .el-input {
      width: 70%;
    }
    .el-input__inner {
      height: 32px;
      padding: 0 12px;
      width: 95%;
    }
    .custom-tree-node {
      width: 100%;
    }
    .el-dropdown {
      float: right;
    }
  }
}
